@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Resets margin, padding, and box-sizing for all elements */

body {
  font-family: "Dancing Script", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
section {
  height: 100vh;

  /* edit this to change the wallpaper and make it in sync*/
  background-image: url(https://images.unsplash.com/photo-1687372626415-6f98c4eb4cd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIyfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 128, 128, 0.768);
}
/* Sets the height to 100% of the viewport height and the background color to a semi-transparent teal */

.score {
  height: 25vh;
  color: rgba(255, 234, 0, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 0 0 10px #ffff00;
  margin-bottom: 50px;

  /* remove this section if uncomfortable with background editing  */
  background: url(https://images.unsplash.com/photo-1505160984683-51670af82409?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHJvY2slMjBwYXBlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60);
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: cover;
}
/* Sets the height to 20% of the viewport height and styles for the score section */
/* The score section is a flex container with items evenly spaced horizontally and centered vertically */

.score h2 {
  font-size: 3rem;
}
.score p {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 2rem;
}
.intro {
  height: 70vh;
  color: rgba(224, 224, 224, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: ease 500ms opacity;
  /* remove this section if uncomfortable with background editing */

  background: url(https://images.unsplash.com/photo-1505160984683-51670af82409?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHJvY2slMjBwYXBlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Sets the height to 50% of the viewport height and styles for the intro section */
/* The intro section is a flex container with items vertically centered and evenly spaced */

.intro h1 {
  font-size: 5rem;
}
.intro button,
.match button {
  height: 6rem;
  width: 9rem;
  background: none;
  border: none;
  border-radius: 3%;
  color: rgba(224, 224, 224, 0.8);
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 0 0 10px #eeeeee;
  background: transparent;
  cursor: pointer;
}
.match {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 500ms ease;
}

/* Positions the match section fixed in the middle of the viewport */

.winner {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 4rem;
  text-shadow: 0 0 10px #f2c6ff;
  margin: 1.25rem 0;
  height: 30vh;
}
.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-hand {
  transform: scaleX(-1);
}
/* Flips the player-hand element horizontally using scaleX */

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

/* "shakePlayer" rotates and shakes an element vertically.
  "shakeComputer" shakes an element vertically.

  These animations create a shaking effect by applying transformations at specific percentages of the animation timeline.
*/
@keyframes shakePlayer {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
  15%,
  35%,
  65%,
  85% {
    transform: rotateY(180deg) translateY(-50px);
  }
}
@keyframes shakeComputer {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0px);
  }
  15%,
  35%,
  65%,
  85% {
    transform: translateY(-50px);
  }
}

/* .img{ 
invisible }
*/